<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="css/style.css" type="text/css">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <title>Comment</title>
  </head>
  <body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">

      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-item nav-link" href="index.html">Home</a>
          <a class="nav-item nav-link" href="#">Description</a>
          <a class="nav-item nav-link" href="UsefulLinks.html">Useful Links</a>
          <a class="nav-item nav-link active" href="#">Comments</a>
        </div>
      </div>
    </nav>

<br />

  <h2>Leave a Comment</h2>
    <main id="commentMainVue">
      <div>
        <form id="newCommentForm" @submit.prevent="handleCommentForm">
          <div class="form-group row">
            <input id="comment" type="text" v-model="commentForm.comment" class="form-control" required>
          </div>
              <button id="submitNewComment" type="submit">Enter Comment</button>
        </form>
      </div>

<br />
      <div>
        <table id="commentTable"class="table table-bordered">
          <thead>
            <tr>
              <th scope="col">ID</th>
              <th scope="col">Comment</th>
            </tr>
          </thead>

          <tbody id="commentTableBody">
            <tr v-for="c in comment" :key="c.id" :id="'comment- ' + c.id">
              <td>
                {{c.id}}
              </td>
              <td>
                {{c.comment}}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </br>

    </main>


<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
<script src="js/comment.app.js"></script>

  </body>
  </html>
